$background-color: #131313;
$secondary-background-color: #161616;
$border-color: #232323;
$primary: #02f2f2;
$secondary: #012142;
$text: rgba(255, 255, 255, 0.9);
$text-light: rgba(255, 255, 255, 0.3);
